.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fomrmulario div{
    width: 100%;
   
}

.formulario .label-grande{
    width: 50%;
    display: inline-block;
    text-align: right;
}

.fomrmulario .linha-formulario{
    margin-bottom: 20px;

}

.xp-line div{
    display:inline-block; 
    width: 40%;
}

@media screen and (max-widht:419px) {
    .fomrmulario input[type="text"] {
        width: 100%;
    }

    .formulario .label-grande{
        width: 100%;
        text-align: center;
    }

    .xp-line{
        flex-direction: column;
    }

    .xp-line div{
        display: flex;
        width: 100%;
        justify-content: center;
    }
}
