.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fomrmulario div{
    width: 100%;
   
}

.formulario .label-grande{
    width: 50%;
    display: inline-block;
    text-align: right;
}

.fomrmulario .linha-formulario{
    margin-bottom: 20px;

}
