body{
    margin: 0px;
}

.cabecalho{
    background: linear-gradient( 45deg, #fff, blue);
    padding: 15px;
}
.menu{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.menu a{
    text-decoration: none;
    font-weight: bold;
    color: blue;
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid blue;
    padding: 5px;
}